.Newexpense-div {
  /* border: 2px solid blue; */
  border-radius: 10px;
  padding: 10px;
  background: #ad9be9;
  width: 62.5rem;
  margin: auto;
  margin-bottom: 50px;
}

/* .BtnAdd {
    border: none;
    color: red;
} */
